<div class="w-full bg-[#1AA179]">
  <div class="max-w-[1350px] mx-auto py-3.5 flex flex-nowrap justify-between items-center">
    <a routerLink="/" class="text-3xl text-white">
      Help<span class="text-[#D2F4EA]">MED</span>
    </a>
    <div class="flex space-x-8 flex-nowrap">
      <a class="text-white hover:underline text-base" routerLink="/baza-znaniy">База знаний</a>
      <a class="text-white hover:underline text-base" routerLink="/pomosh">Помощь</a>
      <a class="text-white hover:underline text-base" routerLink="/o-proekte">О проекте</a>
    </div>
    <div class="flex flex-nowrap">
      <a
        class="text-white text-base h-10 bg-[#F47457]
        rounded px-4 py-2.5 flex items-center justify-center"
        routerLink="/auth">
        Войти в систему
      </a>
    </div>
  </div>
</div>
